<a href="https://colab.research.google.com/github/babakkeshavarz/time_series/blob/main/Naive_Forecast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
# !pip install -U scikit-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.1.0)

In [3]:
from sklearn.metrics import mean_absolute_percentage_error, \
                            mean_absolute_error, r2_score, mean_squared_error

In [6]:
!wget -nc https://lazyprogrammer.me/course_files/SPY.csv

File ‘SPY.csv’ already there; not retrieving.

In [7]:
df = pd.read_csv('SPY.csv' , index_col = 'Date' , parse_dates = True)

In [8]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800

In [9]:
df['Close_Prediction'] = df['Close'].shift()

In [10]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,Close_Prediction
Date,,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600,NaN
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900,113.330002
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400,113.629997
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100,113.709999
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800,114.190002

In [15]:
y_true = df.iloc[1:]['Close']
y_pred = df.iloc[1:]['Close_Prediction']

In [18]:
## SSE
(y_true - y_pred).dot(y_true - y_pred)

6330.3742894926045

In [22]:
## MSE
mean_squared_error(y_true , y_pred , squared = False)

1.672893886787562

In [24]:
np.sqrt((y_true - y_pred).dot(y_true - y_pred)/len(y_true))

1.6728938867875618

In [26]:
##MAE
mean_absolute_error(y_true , y_pred )

1.1457559803120336

In [27]:
##R2
r2_score(y_true , y_pred )

0.9989603259063914

In [28]:
#SMAPE
def smape(y_true , y_pred):
  numerator = np.abs(y_true - y_pred)
  denominator = (np.abs(y_true) + np.abs(y_pred)) / 2
  ratio = numerator / denominator
  return ratio.mean()

smape(y_true , y_pred)

0.006491365814068417